@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html {
    box-sizing: border-box;
}

html, body {
    width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

/*----Rating Panel----*/

.rating-panel {
	text-align: left;
	margin-bottom: 10px;
}

.rating-panel .stars {
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.rating-panel .stars li {
	list-style: none;
	display: inline-block;
}

.rating-panel .restart {
	float: right;
	cursor: pointer;
}

.fa-star {
	color: #FFFF00;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}

/*----Deck Cards----*/

.deck {
    width: 20%;
    max-width: 300px;
	background: #FF0000;
	padding: 16px;
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 48px;
}

.deck .card {
	height: 60px;
	width: 60px;
	margin: 4px 4px;
	background: #141214;;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: #E5F720;
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}

/*----Game Ending Modal----*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
}

.modal-content {
    width: 80%;
    margin: auto;
    padding: 0;
    position: relative;
    top: 5%;
    background-color: #EFEBE9;
    border: 1px solid #808080;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
    animation: animateTop 0.4s;
}

.modal-header {
    border-bottom: 1px solid #D7CCC8;
    padding: 8px 16px;
    font-size: 24px;
    font-weight: bold;
}

.modal-body {
    padding: 24px 6px 16px;
}

.modal-body .message {
    text-align: center;
}

.modal-body .message p {
    margin-bottom: 8px;
}

.modal-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 16px 24px;
}

.modal-footer button {
    padding: 6px 16px;
    width: 50%;
}

.close {
    font-size: 32px;
    float: right;
    margin-right: 12px;
    margin-top: 4px;
    font-weight: bold;
    color: #3E2723;
    position: relative;
    animation: animateCloseIcon 5s linear 2s infinite;
}

.close:hover, .close:focus {
    color: #8D6E63;
    cursor: pointer;
}